--extra-index-url https://okahu.jfrog.io/artifactory/api/pypi/okahu-pypi/simple
pysqlite3-binary; platform_system=="Linux"
chromadb
langchain
langchain-openai
langchain-community
langchainhub
langchain-chroma
unstructured
okahu-observability>=0.3.0
